header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background: linear-gradient(to right, #e91e63, #ffae0c);
  -webkit-box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: 'Megrim', cursive;

  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }


}
